#
data/*
papers/*

# CTags files
.tags*
# Python extensions
*.pyc
*.pickle
# Logs
log/*.log
# Ipython stuff
.ipynb*
# SublimeText
*sublime-project
*sublime-workspace
# Latex stuff
*.aux
*.dvi
*.toc
*.tex~
*.fls
*.log
*latexmk
misc/
papers

latex/tmp/*
latex/src/llncs2e/*
latex/src/concurso/*
*.bbl
*.blg
.RData
.Rhistory
