#
data/*
papers/*

# CTags files
.tags*
# Python extensions
*.pyc
*.pickle
# Logs
log/*.log
# Ipython stuff
.ipynb*
# SublimeText
*sublime-project
*sublime-workspace
# Latex stuff
*.aux
*.dvi
*.tex~
*.fls
*.log
*latexmk
misc/
