#
data/*
papers/*

# CTags files
.tags*
# Python extensions
*.pyc
*.pickle
# Logs
log/*.log
# Ipython stuff
.ipynb*
# SublimeText
*sublime-project
*sublime-workspace
# Latex stuff
*.aux
*.dvi
*.toc
*.tex~
*.fls
*.log
*latexmk
papers

latex/tmp/*
latex/src/llncs2e/*

*.bbl
*.blg
.RData
.Rhistory

.python-version
tables/*.csv
*.egg-info/*
